<h2>  Edytuj książkę </h2>
<form id = "formNowaKsiazka" name = "formNowaKsiazka" #ksiazkaData = "ngForm" (ngSubmit) ="edytujKsiazke(ksiazkaData.value)" >
  <label>Tytul</label> <input type="text" name="tytul" id="tytul" placeholder = "Tytuł książki" [(ngModel)] = "data.tytul" ngModel><br>
  <label>autor</label> <input type="text" name="autor" id="autor" placeholder = "autor książki" [(ngModel)] = "data.autor" ngModel><br>
  <label>kategoria</label> <input type="text" name="kategoria" id="kategoria" placeholder = "kategoria książki" [(ngModel)] = "data.kategoria" ngModel><br>
  <input type="submit" value="Edytuj Ksiazke" class="btn btn-success">
  <button type="button" class="btn btn-info" routerLink = "/wszystkie">Powrót</button>
</form>

<p *ngIf = "!exist">
  Książka o podanym id nie istnieje.
</p>
