<table>
  <thead>
      <th>ID</th>
      <th>Tytuł</th>
      <th>Autor</th>
      <th>Kategoria</th>
      <th>Edytuj</th>
      <th>Usuń</th>
  </thead>
  <tbody>
      <tr *ngFor = "let book of ksiazka">
          <td>{{book.id}}</td>
          <td>{{book.tytul}}</td>
          <td>{{book.autor}}</td>
          <td>{{book.kategoria}}</td>
          <td [routerLink] = "['/edycja',book.id]"><a class="mouse">o</a></td>
          <td (click) = "usun(book.id)"><a class="mouse">X</a></td>
      </tr>
  </tbody>

</table>

<button type="button" class="btn btn-info" routerLink = "/">Powrót</button>
