<table>
  <thead>
      <th>ID</th>
      <th>Tytuł</th>
      <th>Więcej...</th>
      <th>Usuń</th>
  </thead>
  <tbody>
      <tr *ngFor = "let book of ksiazka">
          <td>{{book.id}}</td>
          <td>{{book.tytul}}</td>
          <td [routerLink] = "['/ksiazka',book.id]"><a class="mouse fa fa-folder-open"></a></td>
          <td (click) = "usun(book.id)"><a class="mouse fa fa-times"></a></td>
      </tr>
  </tbody>

</table>

<button type="button" class="btn btn-info" routerLink = "/">Powrót</button>
